{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="shortcut icon" href="{% static 'blog/img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
</head>
<body>
    <!--Start NavBar-->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-info" href="#">
            <img src= "{% static 'blog/img/logo.png' %}" alt="Blog-logo" width="50px">
        UR Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Courses</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Tutorials</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Projects</a>
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">About me</a>
      </li>
    </ul>
    <ul class="navbar-nav ">
        <li class="nav-item">
            <button class="btn btn-outline-success mr-1" type="submit">Sign in</button>
        </li>

        <li class="nav-item">
            <button class="btn btn-success ml-1" type="submit">Sign up</button>
        </li>
    </ul>
    </div>
    </nav>
</header>
    <!--End NavBar-->
<!--Start Content-->
<section>
    <div class="container">
        <div class="row mt-4">
            <!--Main Content-->
            <div class="col-md-8">Posts</div>
            <!--sideBar-->
            <div class="col-md-4">
                <!--Posts Side-->
                <div class="card mt-2">
                   <div class="card-header bg-dark ">
                        <h3 class="text-center text-info card-title">New Posts</h3>
                    </div>
                   <ul class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">Post 1</a>
                        <a href="#" class="list-group-item list-group-item-action">Post 2</a>
                        <a href="#" class="list-group-item list-group-item-action">Post 3</a>
                        <a href="#" class="list-group-item list-group-item-action">Post 4</a>
                        <a href="#" class="list-group-item list-group-item-action">Post 5</a>
                   </ul>
                </div>
                <!--Comments Side-->
                <div class="card mt-1 mb-3">
                    <div class="card-header bg-dark ">
                        <h3 class="text-center text-info card-title">New Comments</h3>
                    </div>
                   <ul class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">Comment 1</a>
                        <a href="#" class="list-group-item list-group-item-action">Comment 2</a>
                        <a href="#" class="list-group-item list-group-item-action">Comment 3</a>
                   </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--End Content-->
<!--Start Footer-->
<footer class="bg-dark">
    <div class="container-fluid">
       <div class="row">
           <div class="col-md">
               <div class="card-group mt-3">
            <!--Start About me-->
        <div class="card m-3">
            <h3 class="card-title text-dark text-center border-bottom p-2 m-3">About me</h3>
                <div class="card-body">
                    <div class="text-center">
                        <img src="{% static 'blog/img/logo.png' %}" alt="Blog logo" width="100px">
                    </div>
                      <p class="text-dark text-center">
	                I'm Mohamed Full-stack web developer using Django and it's my first project.
                      </p>
                     </div>
                </div>
            <!--End About me-->
            <!--Start References-->
   <div class="card m-3">
       <h3 class="card-title text-dark text-center border-bottom p-2 m-3">References</h3>
          <div class="card-body">
            <ul>
                <li><a class="text-primary" href="https://www.python.org/doc/">Python</a></li>
                <li><a class="text-primary" href="https://docs.djangoproject.com/en/2.2/">Django</a></li>
                <li><a class="text-primary" href="https://developer.mozilla.org/">MDN</a></li>
            </ul>
          </div>
     </div>
            <!--End References-->
            <!---Start Social Media-->
   <div class="card m-3">
     <h3 class="card-title text-dark text-center border-bottom p-2 m-3">Social Media</h3>
        <h4 class="card-body text-center">
           <a class="text-primary" href=""><i class="fab fa-facebook"></i></a>
           <a class="text-primary" href=""><i class="fab fa-twitter"></i></a>
           <a class="text-primary" href=""><i class="fab fa-instagram"></i></a>
           <a class="text-primary" href=""><i class="fab fa-youtube"></i></a>
           <a class="text-primary" href=""><i class="fab fa-telegram"></i></a>
           <a class="text-primary" href=""><i class="fab fa-linkedin"></i></a>
        </h4>
   </div>
            <!---End Social Media-->   
    </div>
        </div>
           </div>
            <!--Start CopyRight-->
    <div class="row p-2">
       <div class="col-md text-center">
          <small class="text-light">&copy; All Rights Reserved / <b>Tokhy</b> \</small>
       </div>
    </div>
            <!---End CopyRight-->
        </div>
    </footer>    
    
    <!--JS FILES-->
    <script src="{% static 'blog/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <!--FONTAWESOME-->
    <script src="{% static 'blog/js/fontawesome.all.min.js' %}"></script>
</body>
</html>